








/*  SECTIONS  */

.section {
	clear: both;
	padding: 0px;
	margin-left: : auto;
  margin-right: auto;
  text-align: center;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
  .homearticlebox {width: 100%;}
}







body
{
background-color: white;
background: linear-gradient(white,rgb(130,205,220));

}

img
{
  width: 100%;
}

header
{
  background-color: black;
  margin: 0 auto;
}
.logocontainer{
  width: 100%;

}


.logo
{
  display: block;
  width: 65%;
  margin: auto;
}

.navlayout
{
  list-style-type: none;
}

.articlelist
{
  list-style-type: none;
  text-align: center;
}

header nav {
  display: inline-block;
  font-size: 1.5rem;
}
.navlayout
{
  display: inline;
  padding: 3% 5% 5% 3%;
  list-style-type: none;
}





a:link
{
  color:black;
}
a:visited
{
  color: black;
}
a:hover
{
  color: white;

}
.navlinks:link
{
  color: white;
}
.navlinks:visited
{
  color: white;
}
.navlinks:hover
{
  color: rgb(26,164,192);
  font-size: 4rem;
   transition: ease 1s;
}
.navtext
{
  color: linear-gradient (white, rgb(29,164,194));

}
.navtext a {
  text-decoration: none;
}
.articlelist:nth-child(2n)
{
  background-color: rgb(162,218,228);
  padding-bottom: .95rem;
}
.articlelist
{
  text-align: left;
  padding-left: .95rem;
  padding-top: .95rem;
}
.navtext:hover
{
  text-shadow: 2px 2px 5px rgb(,164,192);
}
.articlebox
{
  background-color: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

}
.articleboxlist{
  width: 70%;
  background-color: rgb(201,233,240);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 5px 6px rgba(144,146,147,.5);
}

.homearticlebox
{
  background-color: rgb(26,164,192);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}



/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {

  .homearticlebox {width: 100%; background-color: white;}
  body{padding: 0; margin: 0;}
}
.articletitle
{
  background-color: rgb(29,164,194);
  text-align: center;
}

.sitedescription
{
  font-family: 'Sanchez', serif;
  background-color: rgb(26,164,192);
  width: 25%;
}
.descriptiontext
{
  text-align: center;
}

footer
{

background-color: black;
width: 100%;
}
