
body
{
  background-color: black;
}
img
{
  width: 100%;
}
.navlayout
{
  list-style-type: none;
  
}
.articlelist {
  list-style-type: none;
  text-align: center;
}
a:link
{
  color:black;
}
a:visited
{
  color: black;
}
a:hover
{
  color: white;

}
.navlinks:link
{
  color: white;
}
.navlinks:visited
{
  color: white;
}
.navlinks:hover
{
  color: rgb(31,200,234);
}
.navtext
{
  color: white;
}
.articlebox
{
  background-color: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.homearticlebox
{
  background-color: rgb(31,200,234);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.articletitle
{
  background-color: rgb(31,200,234);
  text-align: center;
}
.sitedescription
{
  background-color: rgb(31,200,234);
  width: 25%;
}
.descriptiontext
{
  text-align: center;
}
