
body
{
  background-color: black;
}
ul
{
  list-style-type: none;
}
.navtext
{
  color: white;
}
.articlebox
{
  background-color: white;
  width: 60%;
}

.sitedescription
{
  background-color: pink;
  width: 30%;
}
